body{
    margin: 0;
}

.header{
    width: 100%;
    height: 50px;
}

.nav-item{
    color: #ed1c24;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

@media only screen and(min-width: 768px){
    .dropdown:hover .dropdown-menu{
        display: block;
    }
}

.divider-bar{
    background: transparent linear-gradient(90deg, #ed1c24 0%, #ed2124 37%, #f68a1e 100%) 0% 0% no-repeat padding-box;
    height: 35px;
}

.carousel-item{
    height: 400px;
}

.post-1{
    display: flex;
    justify-content: end;
    padding-top: 120px;
    margin-right: 30px;
    color: white;
    max-width: 100%;
}

.post-2{
    padding-top: 80px;
    display: flex;
    justify-content: start;
    margin-left: 60px;
    color: red;
    max-width: 100%;
}

.post-3{
    padding-top: 80px;
    display: flex;
    justify-content: start;
    margin-left: 60px;
    color: red;
    max-width: 100%;
}

.post-4{
    padding-top: 80px;
    display: flex;
    justify-content: start;
    margin-left: 60px;
    color: red;
    max-width: 100%;
}

.post-5{
    padding-top: 40px;
    display: flex;
    justify-content: start;
    margin-left: 60px;
    max-width: 100%;
}

.banner-img-wing img{
    width: 200px;
    height: 44px;
}

.nav-tabs{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    box-sizing: border-box;
    padding-inline-start: 40px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background: #f8f8f8;
}

.nav-tabs .nav-item:first-child{
    border-top-left-radius: 20px;
    overflow: hidden;
    width: 25%;
    border-right: 1px solid #f8f8f8;
    margin-bottom: 1px;
    background: #cd0000;
    color: #cd0000;
}

.nav-tabs .nav-item:last-child{
    border-top-right-radius: 20px;
    overflow: hidden;
    width: 25%;
    border-right: 1px solid #f8f8f8;
    margin-bottom: 1px;
    background: #cd0000;
    color: #cd0000;
}

.nav-tabs .nav-item{
    overflow: hidden;
    width: 25%;
    border-right: 1px solid #f8f8f8;
    margin-bottom: 1px;
    background: #cd0000;
    color: #cd0000;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link{
    background: #cd0000;
    padding: 31px 10px;
    font-size: 19px;
    font-weight: 600;
    text-align: center;
    border-radius: 0;
    color: white;
    cursor: pointer;
}

@media screen and (min-width: 992px){
    .form_data i {
        vertical-align: middle;
        font-size: 1.8rem;
    }
}

.tab-content{
    width: 1108px;
    height: 393px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.radio-btn{
    margin: 0 25px;
    padding-top: 30px;
}

.radio-btn .btn{
    margin: 20px 10px 20px 10px;
    box-shadow: none;
    
}

.radio-btn .btn::after{
    content: '';
    height: 15px;
    width: 15px;
    top: -2px;
    left: -1px;
    background-color: #fff;
    position: relative;
    display: inline-block;
    border: 3px solid #fff;
    visibility: visible;
    border-radius: 50%;
}

.radio-btn .btn:checked::after{
    content: '';
    background-color: #0f0f0fee;
    transition: 0.5s;
}

.radio-btn span{
    margin-right: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #707070;
}

.booking-form{
    padding: 0 30px 30px;
    display: flex;
    width: 100%;
}

.form-control{
    height: 50px;
}

.input-grp{
    display: inline-flex;
    margin-left: 20px;
    justify-content: center;
}

.input-grp .select-date{
    width: 270px;
}

.input-grp .select-date:first-child{
    margin-right: 23px;
}

.row2-text{
    padding-top: 12px;
}

.input-grp .custom-select{
    margin-top: 30px;
    margin-left: 10px;
    height: 50px;
    width: 270px;
}

.input-grp .custom-select:first-child{
    margin-right: 13px;
}

.eligiblity{
    margin-left: 10px;
    margin-right: 35px;
    padding-top: 43px;
    color: #be1e24;
    font-weight: 600;
}

.eligiblity:hover{
    color: #be1e24;
}

.caption{
    text-decoration: none;
    margin-top: 43px;
    font-size: large;
    font-weight: bold;
    color: #be1e24;
    margin-left: 10px;
}

.caption:hover{
    color: #be1e24;
    text-decoration: none;
}

.search-btn{
    height: 56px;
    width: 165px;
    color: #fff;
    background: linear-gradient(90deg, rgba(177, 9, 19, 1) 0%, rgba(217, 10, 22, 1) 50%, rgba(177, 9, 19, 1) 100%);
    margin-left: 245px;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
}

@media (max-width: 750px){
    .container .form_data{
        overflow-y: scroll;
    }
    .container .form_data::-webkit-scrollbar{
        display: none;
    }
    .form_data {
        width: calc(100% / 2 -15px);
    }
}

@media (max-width: 550px){
    .form_data {
        width: 100%;
    }
}

.top_line{
    height: 35px;
    margin-top: 70px;
    font-weight: 900;
    font-size: large;
    color: #707070;
    background-color: #fff8e2;padding-top: 4px;
}

.backimg {
    width: 100%;
    background-image: url(images/fly-non-stop.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 80;
    color: #fff;
    /* height: 460px; */
    height: 439px;
    align-items: center;
    display: flex;
    align-items: center;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px){
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

.col-md-6{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.backimg .join {
    font-size: 51px;
    font-weight: 300 !important;
    line-height: normal;
    color: #fff;
}

h2 {
    font-size: 40px;
    line-height: 50px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.backimg .fly {
    font-size: 91px;
    font-weight: 300;
    line-height: 83px;
    letter-spacing: 0px;
    color: #fff;
    margin-left: -11px;
}

h4 {
    clear: both;
    color: #000;
    font-size: 1.03em;
    font-weight: bold;
    padding-bottom: 12px;
}

.backimg .find {
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}

p {
    clear: both;
    color: #555;
    font-size: .8em;
}

.differnce {
    background-color: #f8f8f8;
    padding: 120px 0;
    text-align: center;
}

a {
    color: #575757;
    text-decoration: none;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px){
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.boxround {
    width: 126px;
    height: 126px;
    border: 0px solid #ddd;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: 0.3s;
}

.pic-1 {
    background: url(images/foot1.png) no-repeat center center;
    width: 126px;
    height: 126px;
    background-size: 100%;
}

.differnce h5 {
    color: #ed1c24;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
}

.pic-2 {
    background: url(images/foot2.png) no-repeat center center;
    width: 126px;
    height: 126px;
    background-size: 100%;
}

.pic-3 {
    background: url(images/foot3.png) no-repeat center center;
    width: 126px;
    height: 126px;
    background-size: 100%;
}

.pic-4 {
    background: url(images/foot4.png) no-repeat center center;
    width: 126px;
    height: 126px;
    background-size: 100%;
}

.foot_bg {
    background-image: url(images/footer-1.png);
    background-position: 155% 40%;
    background-repeat: no-repeat;
    padding: 50px 0 0;
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
}

@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .foot_bg .col-md-2 {
        -ms-flex: 0 0 18.666667%;
        flex: 0 0 18.666667%;
        max-width: 18.666667%;
    }
}

@media (min-width: 768px){
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

*, ::after, ::before {
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.foot_bg .nav-link {
    display: block;
    padding: 1px 0;
    color: #585B5C;
    font-weight: 500;
    line-height: 21px;
    font-size: 13.6px;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

a {
    color: #575757;
    text-decoration: none;
}

@media (min-width: 768px){
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.mobilehide {
    display: block;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}

.footer_icon {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.footer_icon a.fb-ic {
    padding-left: 20px;
}

.footer_icon a.fb-ic img {
    width: 100%;
}

fieldset, img {
    border: 0;
    vertical-align: top;
}

img {
    vertical-align: middle;
    border-style: none;
}

.app_dwn {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.buttons img {
    width: 100%;
}

.app_dwn .buttons {
    max-width: 106px;
    margin-left: 10px;
}

.mt-4, .my-4 {
    margin-top: 1.5rem!important;
}

*, ::after, ::before {
    box-sizing: border-box;
}

@media (min-width: 768px){
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.footer-copyright {
    border-top: 3px solid #efefef;
    padding-top: 4px;
    display: inline-block;
    width: 100%;
}

.footer-copyright p {
    margin-bottom: 0;
    font-size: 12px;
    max-width: 540px;
    color: #585b5c;
}

.mobileshow {
    display: none;
}

.footer_icon {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.footer_icon a.fb-ic {
    padding-left: 20px;
}

.footer_icon a.fb-ic img {
    width: 100%;
}

.app_dwn {
    justify-content: flex-end;
    display: flex;
    width: 100%;
}

.app_dwn .buttons {
    max-width: 106px;
    margin-left: 10px;
}

.buttons img {
    width: 100%;
}

.footer_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

@media (min-width: 768px){
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

fieldset, img {
    border: 0;
    vertical-align: top;
}

.footer_right p {
    margin-bottom: 0;
    font-size: 10px;
    text-align: right;
    text-transform: uppercase;
}

#backToTop {
    position: fixed;
    right: 10px;
    z-index: 22;
    bottom: 9px;
    color: #000;
    font-family: Tahoma, Geneva, sans-serif;
    text-decoration: none;
    background: url(images/footer-9.png) center no-repeat;
    width: 24px;
    height: 30px;
    line-height: 2.083em;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    text-indent: -99999px;
}

#backToTop {
    position: fixed !important;
    right: 16px !important;
    z-index: 22 !important;
    bottom: 65px !important;
}


